/* Added css */
.ct-widget .ct-tool--subheading3:before {
    content: "H";
    font-size: 15px;
}
.ct-widget .ct-tool--subheading4:before {
    content: "H";
    font-size: 12px;
}
.ct-widget .ct-tool--subheading5:before {
    content: "H";
    font-size: 10px;
}

/* Alignment styles for images, videos and iframes in editable regions */
/* Center (default) */
/*iframe,
image,
[data-ce-tag=img],
img,
video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}*/

/* Left align */
.align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
.align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
