/* Added css */
.ct-widget .ct-tool--subheading3:before {
    content: "H";
    font-size: 15px;
}
.ct-widget .ct-tool--subheading4:before {
    content: "H";
    font-size: 12px;
}
.ct-widget .ct-tool--subheading5:before {
    content: "H";
    font-size: 10px;
}

/* Alignment styles for images, videos and iframes in editable regions */
/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable] .align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}
